<div class="container">
    <div class="row">
        <div class="sizemap" #gmap></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Busca por CEP</h3>
                </div>
                <div class="card-block">
                    <p class="card-text">Digite um CEP válido.</p>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="cepNumber" class="form-control" placeholder="CEP">
                        <span class="input-group-secondary">
                            <button type="button " class=" btn btn-secondary" (click)="searchCep()"> Buscar </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {{show_adress}}
        </div>
        
    </div>
</div>